:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --light-slate-blue-bg: hsl(252, 100%, 67%);
  --light-royal-blue-bg: hsl(241, 81%, 54%);
  --violet-blue-circle: hsla(256, 72%, 46%, 1);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);

  --white-color: hsl(0, 0%, 100%);
  --pale-blue-color: hsl(221, 100%, 96%);
  --light-lavender-color: hsl(241, 100%, 89%);
  --dark-gray-blue-color: hsl(224, 30%, 27%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: var(--white-color);
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
  color: var(--light-lavender-color);
}

.container {
  width: 100%;
  max-width: 735px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  min-height: 355px;
  padding: 25px 60px 40px 60px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.result__heading {
  font-weight: 600;
  font-size: 1rem;
}

.result__rate {
  font-weight: 600;
  color: white;
  font-size: 1.5rem;
}

.result__summary {
  font-weight: 500;
  font-size: 0.9rem;
}

.result__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  max-width: 140px;
  min-height: 140px;
}

.result__score {
  font-size: 3rem;
  font-weight: 800;
  color: var(--white-color);
}

.summary {
  padding: 45px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary__heading {
  color: black;
  font-size: 1.3rem;
}

.summary__body {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 20px 0;
}

.summary__item {
  padding: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 14px;
}

.summary__item-name {
  display: flex;
}

.summary__item-text {
  margin-left: 0.9rem;
}

.summary__item-value--bold {
  font-weight: 800;
  color: black;
}

.summary__score-value {
  color: var(--light-lavender-color) !important;
}

.summary__score {
}

.summary__item--reaction {
  color: var(--light-red);
  background-color: hsl(0, 100%, 67%, 0.05);
}

.summary__item--memory {
  color: var(--orangey-yellow);
  background-color: hsl(39, 100%, 56%, 0.05);
}

.summary__item--verbal {
  color: var(--green-teal);
  background-color: hsl(166, 100%, 37%, 0.05);
}

.summary-item--visual {
  color: var(--cobalt-blue);
  background-color: hsl(234, 85%, 45%, 0.05);
}

.summary__footer {
  width: 100%;
}

.summary__button {
  padding: 1.1rem 0;
  background-color: var(--dark-gray-blue-color);
  color: var(--white-color);
  width: 100%;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.05rem;
  border: none;
  border-radius: 1.5rem;
}

@media (min-width: 450px) {
  .container {
    max-width: 450px;
    margin: auto;
    box-shadow: 0px 10px 37px -3px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 768px) {
  body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    min-width: 735px;
    min-height: 515px;
  }
  .result {
    border-radius: 24px;
    width: 50%;
    padding: 45px 60px 60px 60px;
  }
  .summary {
    width: 50%;
  }

  .result__heading {
    font-weight: 500;
    font-size: 1.5rem;
  }

  .result__score {
    font-size: 4rem;
  }

  .result__body {
    min-width: 85%;
    height: 205px;
  }

  .result__rate {
    font-size: 2rem;
  }

  .result__summary {
    font-size: 1.1rem;
  }

  .summary__body {
    margin: 0;
  }
}

.gradient-bg {
  background: #7857ff;
  background: -moz-linear-gradient(
    top,
    hsla(252, 100%, 67%, 1) 0%,
    hsla(241, 81%, 54%, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, hsla(252, 100%, 67%, 1)),
    color-stop(100%, hsla(241, 81%, 54%, 1))
  );
  background: -webkit-linear-gradient(
    top,
    hsla(252, 100%, 67%, 1) 0%,
    hsla(241, 81%, 54%, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    hsla(252, 100%, 67%, 1) 0%,
    hsla(241, 81%, 54%, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    hsla(252, 100%, 67%, 1) 0%,
    hsla(241, 81%, 54%, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    hsla(252, 100%, 67%, 1) 0%,
    hsla(241, 81%, 54%, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7857ff', endColorstr='#2e2be9', GradientType=0 );
}

.gradient-score {
  background: #2e2be9;
  background: -moz-linear-gradient(
    top,
    hsla(241, 81%, 54%, 1) 0%,
    hsla(241, 81%, 54%, 0) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, hsla(241, 81%, 54%, 1)),
    color-stop(100%, hsla(241, 81%, 54%, 0))
  );
  background: -webkit-linear-gradient(
    top,
    hsla(241, 81%, 54%, 1) 0%,
    hsla(241, 81%, 54%, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    hsla(241, 81%, 54%, 1) 0%,
    hsla(241, 81%, 54%, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    hsla(241, 81%, 54%, 1) 0%,
    hsla(241, 81%, 54%, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    hsla(241, 81%, 54%, 1) 0%,
    hsla(241, 81%, 54%, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2be9', endColorstr='#2e2be9', GradientType=0 );
}
