:root {
	/* Text Colors */
	--very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--soft-red: hsl(14, 88%, 65%);

	/* Background Gradients */
	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);

	/* Neutral Colors */
	--very-dark-grayish-blue: hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);
	--light-grayish-blue: hsl(240, 5%, 91%);

	--white: hsl(0, 0%, 100%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vw;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 12px;
	background: linear-gradient(
		to bottom right,
		var(--soft-violet),
		var(--soft-blue)
	);
	color: var(--very-dark-desaturated-blue);
}

/* CONTAINER */

.container {
	width: 100%;
	max-width: 920px;
}

.card {
	display: flex;

	min-height: 510px;
	background-color: var(--white);
	border-radius: 20px;
}

.card__left {
	width: 50%;
}

.card__hero {
	position: relative;
	background-image: url(images/illustration-woman-online-desktop.svg),
		url(images/bg-pattern-desktop.svg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position-x: -85px, -580px;
	background-position-y: center, -300px;
	width: 100%;
	height: 100%;
}

.card__hero::after {
	content: '';
	background-image: url(images/illustration-box-desktop.svg);
	background-size: auto;
	background-repeat: no-repeat;
	position: absolute;
	top: 40%;
	left: -20%;
	background-repeat: no-repeat;
	width: 190px;
	height: 190px;
}

.card__right {
	width: 50%;
	padding: 70px 90px 70px 15px;
}

.faq-items {
	cursor: pointer;

	position: relative;
	width: 100%;
	border-bottom: 1px solid var(--light-grayish-blue);
}

.faq-items__question {
	padding: 15px 0;
}

.faq-items::after {
	content: '';
	height: -webkit-fill-available;
	width: 100%;
	top: 20px;
	background-position-x: 95%;
	position: absolute;
	background-image: url(images/icon-arrow-down.svg);
	background-repeat: no-repeat;
}

.faq-items__answer {
	display: none;
	margin-bottom: 15px;
}

/* TYPOGRAPHY */

h1 {
	color: var(--very-dark-desaturated-blue);
}

h2 {
	font-weight: 400;
	font-size: 14px;
}

p {
	color: var(--dark-grayish-blue);
}
