:root {
	/* Text Colors */
	--very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--soft-red: hsl(14, 88%, 65%);

	/* Background Gradients */
	--soft-violet: hsl(273, 75%, 66%);
	--soft-blue: hsl(240, 73%, 65%);

	/* Neutral Colors */
	--very-dark-grayish-blue: hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);
	--light-grayish-blue: hsl(240, 5%, 91%);

	--white: hsl(0, 0%, 100%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	min-width: 100vh;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: 12px;
	background: linear-gradient(
		to bottom right,
		var(--soft-violet),
		var(--soft-blue)
	);
	color: var(--very-dark-desaturated-blue);
}

/* CONTAINER */

.container {
	max-width: 920px;
}

.card {
	display: flex;
	width: 920px;
	min-height: 510px;
	background-color: var(--white);
}

.card__left {
	width: 50%;
}

.card__hero {
	position: relative;
	background-image: url(images/illustration-woman-online-desktop.svg),
		url(images/bg-pattern-desktop.svg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position-x: -85px, -580px;
	background-position-y: center, -300px;
	width: 100%;
	height: 100%;
}

.card__hero::after {
	content: '';
	background-image: url(images/illustration-box-desktop.svg);
	background-size: auto;
	background-repeat: no-repeat;
	position: absolute;
	top: 40%;
	left: -20%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.card__right {
	width: 50%;
	padding: 70px 15px;
}

/* TYPOGRAPHY */

h1 {
	color: var(--very-dark-desaturated-blue);
}

p {
	color: var(--dark-grayish-blue);
}
