:root {
  /* Primary */
  --color-primary-very-dark-magenta: hsl(300, 43%, 22%);
  --color-primary-soft-pink: hsl(333, 80%, 67%);

  /* Neutral */
  --color-neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
  --color-neutral-light-grayish-magenta: hsl(300, 24%, 96%);
  --color-neutral-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  background-image: url('images/bg-pattern-top-desktop.svg'),
    url('images/bg-pattern-bottom-desktop.svg');
  background-position: left top, right bottom;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 1110px;
}

.hero,
.testimonials,
.rates-item,
.profile {
  display: flex;
  width: 100%;
}

.header,
.rates {
  width: 50%;
}

.header {
  padding-right: 120px;
}

.h1 {
  font-size: 3.4rem;
  color: var(--color-primary-very-dark-magenta);
}

.description {
  line-height: 1.2;
  margin-top: 30px;
  font-size: 19px;
  font-weight: 500;
  color: var(--color-neutral-dark-grayish-magenta);
}

.rates {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rates-2 {
  margin-left: 50px;
}
.rates-3 {
  margin-left: 100px;
}
.rates-item {
  border-radius: 8px;
  align-items: center;
  padding: 20px 30px;
  width: 28rem;
  background-color: var(--color-neutral-light-grayish-magenta);
}

.rates-stars {
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.rates-text {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-primary-very-dark-magenta);
}

/* TESTIMONIAL CARD*/

.testimonials {
  margin-top: 70px;
}

.card {
  width: 100%;
  max-width: 350px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  background-color: var(--color-primary-very-dark-magenta);
  border-radius: 8px;
}

.card:nth-child(2) {
  margin: 15px 30px 0 30px;
}

.card:nth-child(3) {
  margin-top: 30px;
}

.profile {
  margin-bottom: 30px;
  align-items: center;
}

.profile-name {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

.profile-img {
  margin-right: 30px;
  width: 45px;
  height: auto;
  border-radius: 50%;
}

.profile-status {
  color: var(--color-primary-soft-pink);
}

.profile-testimonial {
  line-height: 1.4;
  word-spacing: 1px;
  font-size: 16px;
}

@media (min-width: 1440px) {
  body {
    min-height: 800px;
  }
}

@media (max-width: 1439px) {
  .container {
    margin: 100px 0;
  }
}

@media (max-width: 1280px) {
  .header {
    padding-right: 5%;
  }
  .container {
    padding: 0 6%;
  }
}

@media (max-width: 840px) {
  body {
    display: block;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
  }
  .container {
    width: 100%;
    margin: 0;
    padding: 80px 6%;
  }

  .header,
  .rates {
    width: 100%;
  }
  .rates {
    margin: 45px 0;
  }

  .header {
    padding: 0;
    text-align: center;
  }

  .description {
    font-size: 18px;
  }
  .hero {
    flex-direction: column;
  }

  .h1 {
    font-size: 2.5rem;
  }
  .testimonials {
    flex-wrap: wrap;
  }

  .rates-item {
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .rates-stars {
    margin-bottom: 0;
  }

  .rates-2 {
    margin: 15px 0;
  }

  .rates-3 {
    margin-left: 0;
  }

  .testimonials {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .card {
    width: 100%;
    max-width: initial;
  }

  .card:nth-child(2) {
    margin: 15px 0;
  }

  .card:nth-child(3) {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  body {
    background-image: url('images/bg-pattern-top-mobile.svg'),
      url('images/bg-pattern-bottom-mobile.svg');
  }
  .rates-item {
    width: auto;
    flex-direction: column;
    justify-content: center;
    padding: 15px 30px;
  }

  .rates-stars {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
